/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
ODP/WebContent/libs
ODP/WebContent/*
!ODP/WebContent/META-INF
!ODP/WebContent/META-INF/*
!ODP/WebContent/META-INF/xsp.properties
!ODP/WebContent/META-INF/faces-config.xml
.DS_Store
